---
layout: archive
title: "Blog Posts"
permalink: /blogs/
author_profile: true
---

{% include base_path %}

{%- comment -%} Collect unique first-tags in order of first appearance {%- endcomment -%}
{% assign seen_topics = "" | split: "|" %}
{% assign ordered_topics = "" | split: "|" %}
{% for post in site.posts reversed %}
  {% assign ft = post.tags | first %}
  {% if ft and ft != "" %}
    {% unless seen_topics contains ft %}
      {% assign seen_topics = seen_topics | push: ft %}
      {% assign ordered_topics = ordered_topics | push: ft %}
    {% endunless %}
  {% endif %}
{% endfor %}

<div class="topic-list">
  {% for tag in ordered_topics %}
    {% assign count = 0 %}
    {% for post in site.posts %}
      {% assign ft = post.tags | first %}
      {% if ft == tag %}{% assign count = count | plus: 1 %}{% endif %}
    {% endfor %}

    {% assign topic_meta = nil %}
    {% for t in site.data.topics %}
      {% if t.tag == tag %}{% assign topic_meta = t %}{% endif %}
    {% endfor %}

    {% assign tag_slug = tag | slugify %}
    <a class="topic-post-item" href="{{ base_path }}/tags/#{{ tag_slug }}">
      <span class="topic-post-item__meta">{{ count }}&nbsp;{% if count == 1 %}post{% else %}posts{% endif %}</span>
      <span class="topic-post-item__title">{{ tag }}</span>
      <span class="topic-post-item__arrow"><i class="fas fa-chevron-right" aria-hidden="true"></i></span>
    </a>
  {% endfor %}
</div>
